---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main class="container mx-auto py-12 px-4">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	@tailwind base;
	@layer base{
		.hoverable {
			@apply cursor-pointer transform hover:-translate-y-px hover:shadow transition
		}
		input, select {
			@apply focus:outline-none bg-transparent border-2 border-lime-800 px-2 rounded h-8 w-full
		}
		input[type="checkbox"] {
			@apply border-none accent-lime-800 focus:ring-2 focus:ring-offset-2 focus:ring-lime-800
		}
	}
</style>
